a, p, h1, h2, h3, div, body, html {
    margin: 0;
    padding: 0;
    border: 0;
  }
  .nav {
      background-color: orange;
      height: 45px;
  }
  .nav a {
      float: right;
      text-decoration: none;
      font-family: arial;
      padding: 0 5px;
      margin: 15px 18px 0 0;
      color: #ffffff
  }
  .nav p {
      float: left;
      margin: 15px 0 0 25px;
      color: #ffffff;
      font-family: arial;
  }
  body {
      background-color: #F0E4BE;  
  }
  .content {

  }
  .box {
      width: 250px;
      height: 520px;
      float: left;
      border: 2px solid orange;
      background-color: #ffffff;
      margin: 10px 20px;
      padding: 0 10px;
  }
  .box a{
      background-color: orange;
      text-decoration: none;
      color: white;  
      font-family: arial;
      padding: 10px 80px;
      margin-left: 12px;

  }
  .boxes {
      max-width: 1300px;
      margin: 50px auto;
  }